
.footer {
  width:100%;
  height: 250px;
  background: #828282;
  color: @white;
  @media @phone {
    height: 700px;
    padding: 0 15px;
  }
}

.col-md-2 {
  @media @phone {
    padding-left: 0;
  }
}

.footer-container {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    @media @phone {
      flex-direction: column;
      justify-content: space-between;
      height: 700px;
    }

  h1 {
    font-size: 2rem;
    line-height: 2.4rem;

    @media @phone {
      padding-top: 25px;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 2.6rem;
    color: @gray;
  }
}

input {
  width: 275px;
}