.navigation {
  position: fixed;
  height: 50px;
  width: 100%;
  opacity: .95;
  z-index: 20;

  @media @phone {
    width: 400px;
  }

  h1 {
    color: @white;
    font-size: 2.4rem;
  }

  .container {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  @media @phone {
    h1 {
      padding-left:15px;
    }

    .hamburger {
      padding-right: 15px;
    }
  }
}

.overlay {
  background: #9da7b1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 0.95;
  display: none;
  z-index: 100;

 
  .overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    nav {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 8.5rem;
        color: @white;
        &:hover {
          color: #222222;
        }
      }
    }
  }
  .close-btn {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 40px;
  }
}

.hamburger {
  cursor: pointer;
  padding:0;
}